<div class="hero-image custom">
  <img src="assets/imgs/portada_inicio.jpg" alt="Imagen" style="object-fit:cover; height:100%; width:100%">
</div>
<div class="hero-body custom" style="width: calc(100% - 5%)">
  <div style="width: calc(100% - 5%); height: 500px;">
    <h1 class="title">
      Congreso de Calidad y <br>Productividad
    </h1>
    <p class="subtitle">
      ASQ, Calidad y Productividad en todas partes <br>
      16 y 17 de Noviembre
    </p>

    <div id="btns_portada">
      <div style="float: left">
        <a class="button">Comprar Pase</a>
      </div>
      <div style="float: right">
        <a class="button">Más Información</a>
      </div>
    </div>
  </div>
</div>

<style>
  #btns_portada .button {
    font-size: 1.5rem !important;
    color: #008EE4 !important;
    font-weight: 500;
    text-transform: uppercase !important;

    border-radius: 0 0 !important;
    
    /* LOS BOTONES SE DESACOMODAN AL LLEGAR A DISPOSITIVOS MÓVILES  */
  }
</style>